#   Install PER-USER with:
# systemctl --user link ./ytdlp.service
# systemctl --user enable --now ytdlp
#
#   If you want to see logs, make sure you have permissions for them:
# sudo usermod -aG systemd-journal $USER
#   Then see user logs:
# journalctl -t ytdlp


[Unit]
Description=ytdlp-telebot
After=network-online.target


[Service]
Type=simple
Restart=on-failure
SyslogIdentifier=ytdlp

WorkingDirectory=%h/ytdlp-telebot
ExecStart=/usr/bin/python3 %h/ytdlp-telebot/main.py


[Install]
WantedBy=default.target
